Source: salt-formula-roundcube
Maintainer: Filip Pytloun <filip.pytloun@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9),
 salt-formula-postfix
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-roundcube
Vcs-Git: https://github.com/tcpcloud/salt-formula-roundcube.git

Package: salt-formula-roundcube
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass, salt-formula-postfix
Description: GlusterFS Salt formula
 Install and configure GlusterFS server and client.
